.outerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.innerContainer {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  border: 1px solid blue;
  height: 500px;
  width: 500px;
  margin: 40px;
}

.content {
  margin: 8px;
  padding: 10px;
}

.label {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: medium;
}

.input {
  width: 450px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #1a73e8;
  border-radius: 5px;
  box-shadow: 10px 10px rgb(230, 226, 226);
}

.submit {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15px;
  padding: 10px;
}

.submitButton {
  background-color: #1a73e8;
  padding: 5px 10px 5px 10px;
  border: 2px solid #1a73e8;
  color: white;
  font-size: medium;
  border-radius: 10px;
}
